@font-face {
  font-family: 'Cormorant';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/cormorant/v16/H4c-BXOCl9bbnla_nHIq6qMUgIa2.ttf) format('truetype');
}
@font-face {
  font-family: 'Cormorant';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/cormorant/v16/H4cgBXOCl9bbnla_nHIiRLmYgg.ttf) format('truetype');
}
@font-face {
  font-family: 'Cormorant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/cormorant/v16/H4clBXOCl9bbnla_nHIa6A.ttf) format('truetype');
}
@font-face {
  font-family: 'Cormorant';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/cormorant/v16/H4cgBXOCl9bbnla_nHIiHLiYgg.ttf) format('truetype');
}
@font-face {
  font-family: 'Cormorant';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/cormorant/v16/H4cgBXOCl9bbnla_nHIiML-Ygg.ttf) format('truetype');
}
@font-face {
  font-family: 'Cormorant';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/cormorant/v16/H4cgBXOCl9bbnla_nHIiVL6Ygg.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v24/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCvr6Ew-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v24/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCs16Ew-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v24/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Ew-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v24/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCu170w-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v24/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCuM70w-.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmSU5vAw.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Me5Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlvAw.ttf) format('truetype');
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
body,
html {
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  background-color: #131313;
}
.container {
  max-width: 1470px;
  margin: 0 auto;
}
.wrapper {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}
.nav {
  position: fixed;
  height: 100vh;
  background-color: #621503;
  padding: 50px;
  width: 10.5vw;
}
.nav__body {
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.nav__logo img {
  width: 95px;
  margin: 0 auto;
}
.nav__menu {
  margin-top: 120px;
}
.nav__menu li {
  margin-top: 25px;
  position: relative;
  display: inline-block;
}
.nav__menu li:first-child {
  margin-top: 0;
}
.nav__menu li a {
  display: inline-block;
  font-size: 24px;
  color: rgba(255, 255, 255, 0.5);
  transition: 0.3s;
}
.nav__menu li a:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 16px;
  height: 16px;
  background-image: url(../img/smallMenuStart.svg);
  background-size: cover;
  transform: translateX(125%) translateY(75%);
  opacity: 0;
  transition: 0.3s;
}
.nav__menu li a:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 24px;
  background-image: url(../img/yellowBigStar.svg);
  background-size: cover;
  transform: translateX(150%) translateY(-25%);
  opacity: 0;
  transition: 0.3s;
}
.nav__menu li:hover a {
  color: #FFF1E2;
}
.nav__menu li:hover a:after,
.nav__menu li:hover a:before {
  opacity: 1;
}
.nav__hope {
  font-size: 24px;
  color: #fff;
  opacity: 0.5;
}
.nav__burger {
  cursor: pointer;
  width: 24px;
  height: 12px;
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  z-index: 2;
  transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
}
.nav__burger span {
  position: absolute;
  background-color: #fff;
  right: 0;
  width: 100%;
  height: 1px;
  top: 50%;
  transition: 0.5s;
  transform: translateY(-50%);
}
.nav__burger:before,
.nav__burger:after {
  content: '';
  position: absolute;
  background-color: #fff;
  height: 1px;
  right: 0;
}
.nav__burger:before {
  width: 100%;
  top: 0;
  transition: transform 0.5s ease-in-out, top 0.5s ease-in-out 0.5s;
}
.nav__burger:after {
  width: 100%;
  bottom: 0;
  transition: width 0.5s ease-in-out, transform 0.5s ease-in-out, bottom 0.5s ease-in-out 0.5s;
}
.nav__burger.active {
  position: fixed;
  width: 16px;
  height: 16px;
}
.nav__burger.active span {
  transform: scale(0);
}
.nav__burger.active:before {
  transform: rotate(45deg) translateY(-50%);
  top: 50%;
  transition: top 0.3s ease-in-out, transform 0.3s ease-in-out 0.3s;
}
.nav__burger.active:after {
  transform: rotate(-45deg) translateY(50%);
  bottom: 50%;
  transition: bottom 0.3s ease-in-out, transform 0.3s ease-in-out 0.3s;
}
.main {
  margin-left: 10.5vw;
}
.offer {
  display: flex;
  padding: 100px 0;
}
.offer__img {
  padding: 75px 0;
  flex: 0 0 419px;
  position: relative;
}
.offer__img img {
  position: relative;
  z-index: 1;
  width: 100%;
}
.offer__img:after {
  content: "";
  display: block;
  position: absolute;
  top: -12%;
  right: 0;
  transform: translateX(60%);
  background-image: url(../img/bigStar.svg);
  background-size: cover;
  width: 800px;
  height: 800px;
  z-index: 0;
}
.offer__content {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}
.offer__content--student {
  position: relative;
  font-size: 24px;
  font-weight: 200;
  color: #FFF1E2;
  display: inline-block;
  text-align: center;
  padding-top: 40px;
  align-self: flex-end;
}
.offer__content--student .student-star-yellow {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(120%);
}
.offer__content--student .student-star-white {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateX(120%);
}
.offer__content--name {
  align-self: center;
  font-size: 96px;
  font-family: 'Cormorant', sans-serif;
  font-weight: 300;
  color: #D69625;
  text-transform: uppercase;
  position: relative;
  margin: 130px 0;
}
.offer__content--name .name--rightside {
  text-align: right;
  transform: translateX(28%);
}
.offer__content--name .name-star-yellow {
  position: absolute;
  left: 48%;
  bottom: -30%;
}
.offer__content--name .name-star-white {
  position: absolute;
  bottom: 0;
  left: 40%;
}
.offer__content--name .name-star-whiteBorder {
  position: absolute;
  bottom: -12%;
  left: 55%;
}
.offer__content--button {
  position: relative;
  margin-left: 150px;
}
.offer__content--button img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
.offer__content--button span {
  display: block;
  position: absolute;
  width: 350px;
  font-size: 24px;
  font-weight: 200;
  font-style: italic;
  color: #FFF1E2;
  top: 65px;
  left: 50px;
}
.about {
  margin-top: 50px;
}
.about__title {
  font-family: 'Cormorant', sans-serif;
  color: #D69625;
  font-size: 96px;
}
.about__content {
  display: flex;
}
.about__firstblock {
  flex: 0 0 41%;
  margin-top: 90px;
}
.about__firstblock img {
  margin: 80px 0 210px 0;
}
.about__firstblock--text {
  color: #FFF1E2;
  font-size: 24px;
  font-weight: 200;
  width: 83%;
  position: relative;
}
.about__firstblock--text p:nth-child(even) {
  margin: 48px 0;
}
.about__firstblock--text:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 45px;
  height: 45px;
  transform: translateX(-150%);
}
.about__firstblock--text:first-child:before {
  background: url(../img/whiteBorderlStar.svg) no-repeat;
  background-size: cover;
}
.about__firstblock--text:last-child:before {
  background: url(../img/yellowBorderStar.svg) no-repeat;
  background-size: cover;
}
.about__secondblock--row {
  display: flex;
  justify-content: space-between;
}
.about__secondblock--row:nth-child(even) {
  margin: 88px 0;
}
.about__secondblock--row:last-child {
  align-items: center;
}
.about__secondblock--row:last-child .about__secondblock--text {
  margin-left: 98px;
  position: relative;
}
.about__secondblock--row:last-child .about__secondblock--text img {
  position: absolute;
  bottom: 0;
  right: 0;
}
.about__secondblock--row:last-child .about__secondblock--text:before {
  background: url(../img/yellowBigStar.svg) no-repeat;
  background-size: cover;
  width: 32px;
  height: 32px;
}
.about__secondblock--row:last-child .about__secondblock--text:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 32px;
  height: 32px;
  background: url(../img/yellowBorderStar.svg) no-repeat;
  background-size: cover;
  transform: translateX(-100%) translateY(100%);
}
.about__button {
  display: block;
  position: relative;
  margin-top: 48px;
}
.about__button img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
.about__button span {
  display: block;
  position: absolute;
  width: 350px;
  font-size: 24px;
  font-weight: 200;
  font-style: italic;
  color: #FFF1E2;
  top: 50px;
  left: 70px;
}
.about__secondblock--text {
  position: relative;
  color: #FFF1E2;
  font-size: 24px;
  font-weight: 200;
  width: 83%;
}
.about__secondblock--text p:nth-child(even) {
  margin: 48px 0;
}
.about__secondblock--text:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 45px;
  height: 45px;
  transform: translateX(-150%);
}
.about__secondblock--text:first-child:before {
  background: url(../img/whiteBigStar.svg) no-repeat;
  background-size: cover;
}
.about__secondblock--sometext {
  position: relative;
  font-size: 24px;
  color: #FFF1E2;
  font-weight: 200;
  text-align: center;
  margin-top: 28px;
  margin-bottom: 96px;
}
.about__secondblock--sometext img {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(75%) translateY(-125%);
}
.about__secondblock--sometext:before,
.about__secondblock--sometext:after {
  content: "";
  display: block;
  position: absolute;
  width: 45px;
  height: 45px;
}
.about__secondblock--sometext:before {
  top: 0;
  left: 0;
  background: url(../img/whiteBorderlStar.svg) no-repeat center / cover;
  transform: translateX(-25%) translateY(-25%);
}
.about__secondblock--sometext:after {
  top: 0;
  right: 0;
  background: url(../img/yellowBigStar.svg) no-repeat center / cover;
  transform: translateX(25%) translateY(-75%);
}
.skills__offer {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
}
.skills__offer--subtext {
  font-size: 18px;
  color: #FFF1E2;
  font-weight: 200;
  margin-right: 150px;
  margin-top: 205px;
  position: relative;
}
.skills__offer--subtext img {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateX(100%) translateY(100%);
}
.skills__offer--subtext:after,
.skills__offer--subtext:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
.skills__offer--subtext:after {
  width: 32px;
  height: 32px;
  background-image: url(../img/whiteSmallStar.svg);
  background-size: cover;
  transform: translateX(-75%) translateY(-125%);
}
.skills__offer--subtext:before {
  width: 40px;
  height: 40px;
  background-image: url(../img/whiteBorderlStar.svg);
  background-size: cover;
  transform: translateX(-150%) translateY(-15%);
}
.skills__offer--title {
  font-size: 96px;
  font-family: 'Cormorant', sans-serif;
  font-weight: 300;
  letter-spacing: 5%;
  text-transform: uppercase;
  color: #D69625;
  position: relative;
}
.skills__offer--title img {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-200%) translateY(-200%);
}
.skills__offer--title:after,
.skills__offer--title:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
.skills__offer--title:after {
  width: 64px;
  height: 64px;
  background-image: url(../img/whiteBigStar.svg);
  background-size: cover;
  transform: translateX(-100%) translateY(-250%);
}
.skills__offer--title:before {
  width: 45px;
  height: 45px;
  background-image: url(../img/yellowBigStar.svg);
  background-size: cover;
  transform: translateX(-300%) translateY(-300%);
}
.skills__offer--button {
  margin-left: 200px;
  transform: translateY(50%);
  margin-right: 150px;
  position: relative;
}
.skills__offer--button img {
  animation: bounceOut 2s ease-out 0ms infinite normal;
  cursor: pointer;
}
.skills__offer--button:after,
.skills__offer--button:before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
}
.skills__offer--button:after {
  width: 64px;
  height: 64px;
  background-image: url(../img/yellowBorderStar.svg);
  background-size: cover;
  transform: translateX(100%) translateY(50%);
}
.skills__offer--button:before {
  width: 32px;
  height: 32px;
  background-image: url(../img/whiteSmallStar.svg);
  background-size: cover;
  transform: translateX(50%) translateY(200%);
}
.skills__content {
  margin-top: 100px;
}
.skills__item {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}
.skills__item:last-child {
  margin-bottom: 0;
}
.skills__name {
  flex: 500px 0 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  font-size: 32px;
  color: #FFF1E2;
}
.skills__progressBar {
  flex: auto 1 0;
  margin-left: 100px;
  margin-right: 100px;
}
.skills__progressBar--bar {
  width: 100%;
  height: 1px;
  background-color: #878078;
  position: relative;
}
.skills__progressBar--bar img {
  display: block;
  position: absolute;
  top: 0;
  width: 45px;
  height: 45px;
  transform: translateY(-50%);
}
.hobby__offer {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
}
.hobby__offer--subtext {
  font-size: 18px;
  color: #FFF1E2;
  font-weight: 200;
  margin-right: 150px;
  margin-top: 205px;
  position: relative;
}
.hobby__offer--subtext img {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%) translateY(-100%);
}
.hobby__offer--subtext:after,
.hobby__offer--subtext:before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
}
.hobby__offer--subtext:after {
  width: 32px;
  height: 32px;
  background-image: url(../img/whiteSmallStar.svg);
  background-size: cover;
  transform: translateX(175%) translateY(15%);
}
.hobby__offer--subtext:before {
  width: 40px;
  height: 40px;
  background-image: url(../img/whiteBorderlStar.svg);
  background-size: cover;
  transform: translateX(75%) translateY(125%);
}
.hobby__offer--title {
  font-size: 96px;
  font-family: 'Cormorant', sans-serif;
  font-weight: 300;
  letter-spacing: 5%;
  text-transform: uppercase;
  color: #D69625;
  position: relative;
}
.hobby__offer--title img {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(0) translateY(-150%);
}
.hobby__offer--title:after,
.hobby__offer--title:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
}
.hobby__offer--title:after {
  width: 64px;
  height: 64px;
  background-image: url(../img/whiteBigStar.svg);
  background-size: cover;
  transform: translateX(125%) translateY(-50%);
}
.hobby__offer--title:before {
  width: 45px;
  height: 45px;
  background-image: url(../img/yellowBigStar.svg);
  background-size: cover;
  transform: translateX(125%) translateY(-200%);
}
.hobby__offer--button {
  margin-left: 200px;
  transform: translateY(50%);
  margin-right: 150px;
  position: relative;
}
.hobby__offer--button img {
  animation: bounceOut 2s ease-out 0ms infinite normal;
  cursor: pointer;
}
.hobby__offer--button:after,
.hobby__offer--button:before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
}
.hobby__offer--button:after {
  width: 64px;
  height: 64px;
  background-image: url(../img/yellowBorderStar.svg);
  background-size: cover;
  transform: translateX(100%) translateY(50%);
}
.hobby__offer--button:before {
  width: 32px;
  height: 32px;
  background-image: url(../img/whiteSmallStar.svg);
  background-size: cover;
  transform: translateX(50%) translateY(200%);
}
.hobby__tale {
  display: grid;
  grid-template-columns: 500px 1fr;
  grid-gap: 100px;
}
.hobby__tale--right {
  margin-right: 100px;
}
.hobby__title {
  font-family: 'Cormorant', sans-serif;
  font-size: 96px;
  font-weight: 300;
  color: #D69625;
  margin-top: 100px;
  margin-bottom: 85px;
}
.hobby__textblock {
  display: block;
  position: relative;
  font-size: 24px;
  font-weight: 200;
  color: #FFF1E2;
  margin-top: 100px;
  margin-bottom: 100px;
}
.hobby__textblock img {
  position: absolute;
  top: 0;
  left: 0;
  width: 45px;
  height: 45px;
  transform: translateX(-150%) translateY(-15%);
}
.hobby__textblock:first-child {
  margin-top: 0;
}
.hobby__bigImage {
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
  max-width: 628px;
}
.hobby__bigImage img {
  width: 100%;
}
.hobby__smallImage {
  margin: 0 auto;
  margin-top: 100px;
  max-width: 500px;
}
.hobby__smallImage img {
  width: 100%;
}
.hobby__image--text {
  font-size: 18px;
  font-weight: 200;
  color: #FFF1E2;
}
.hobby__button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hobby__button a {
  display: inline-block;
  font-weight: 200;
  font-style: italic;
  font-size: 18px;
  color: #D69625;
  background-image: url(../img/hobbyButton.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  padding: 60px 110px;
}
.hobby__subtext {
  position: relative;
  font-size: 18px;
  font-weight: 200;
  color: #FFF1E2;
  display: inline-block;
  margin-top: 200px;
  margin-bottom: 200px;
  margin-left: 50%;
  transform: translateX(-50%);
}
.hobby__subtext img {
  position: absolute;
  width: 45px;
  height: 45px;
  bottom: 0;
  right: 0;
  transform: translateX(175%) translateY(75%);
}
.hobby__subtext:after,
.hobby__subtext:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
.hobby__subtext:after {
  width: 32px;
  height: 32px;
  background-image: url(../img/whiteSmallStar.svg);
  background-size: cover;
  transform: translateX(-100%) translateY(-175%);
}
.hobby__subtext:before {
  width: 45px;
  height: 45px;
  background-image: url(../img/whiteBorderlStar.svg);
  background-size: cover;
  transform: translateX(-200%) translateY(-50%);
}
.portfolio__offer {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
}
.portfolio__offer--subtext {
  font-size: 18px;
  color: #FFF1E2;
  font-weight: 200;
  margin-right: 150px;
  margin-top: 205px;
  position: relative;
}
.portfolio__offer--subtext img {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateX(100%) translateY(100%);
}
.portfolio__offer--subtext:after,
.portfolio__offer--subtext:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
.portfolio__offer--subtext:after {
  width: 32px;
  height: 32px;
  background-image: url(../img/whiteSmallStar.svg);
  background-size: cover;
  transform: translateX(-75%) translateY(-125%);
}
.portfolio__offer--subtext:before {
  width: 40px;
  height: 40px;
  background-image: url(../img/whiteBorderlStar.svg);
  background-size: cover;
  transform: translateX(-150%) translateY(-15%);
}
.portfolio__offer--title {
  font-size: 89px;
  font-family: 'Cormorant', sans-serif;
  font-weight: 300;
  letter-spacing: 5%;
  text-transform: uppercase;
  color: #D69625;
  position: relative;
}
.portfolio__offer--title img {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-200%) translateY(-200%);
}
.portfolio__offer--title:after,
.portfolio__offer--title:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
.portfolio__offer--title:after {
  width: 64px;
  height: 64px;
  background-image: url(../img/whiteBigStar.svg);
  background-size: cover;
  transform: translateX(-100%) translateY(-250%);
}
.portfolio__offer--title:before {
  width: 45px;
  height: 45px;
  background-image: url(../img/yellowBigStar.svg);
  background-size: cover;
  transform: translateX(-300%) translateY(-300%);
}
.portfolio__offer--button {
  margin-left: 200px;
  transform: translateY(50%);
  margin-right: 150px;
  position: relative;
}
.portfolio__offer--button img {
  animation: bounceOut 2s ease-out 0ms infinite normal;
  cursor: pointer;
}
.portfolio__offer--button:after,
.portfolio__offer--button:before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
}
.portfolio__offer--button:after {
  width: 64px;
  height: 64px;
  background-image: url(../img/yellowBorderStar.svg);
  background-size: cover;
  transform: translateX(100%) translateY(50%);
}
.portfolio__offer--button:before {
  width: 32px;
  height: 32px;
  background-image: url(../img/whiteSmallStar.svg);
  background-size: cover;
  transform: translateX(50%) translateY(200%);
}
.web__inside {
  display: flex;
  justify-content: space-between;
}
.web__inside--text {
  flex: 63% 0 0;
  font-size: 24px;
  font-weight: 200;
  color: #FFF1E2;
  padding-left: 150px;
  position: relative;
}
.web__inside--text:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 45px;
  height: 45px;
  transform: translateX(150%);
  background: url(../img/whiteBorderlStar.svg) no-repeat;
  background-size: cover;
}
.web__offer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.web__offer--img img.hidden {
  display: none;
}
.web__offer--title {
  font-size: 96px;
  font-weight: 300;
  color: #D69625;
  font-family: 'Cormorant', sans-serif;
  margin-bottom: 75px;
}
.web__offer--list {
  flex: 63% 0 0;
  padding-left: 150px;
}
.web__offer--listitem {
  cursor: pointer;
  font-size: 24px;
  font-weight: 300;
  color: #FFF1E2;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  position: relative;
}
.web__offer--listitem a img {
  transition: 0.5s;
}
.web__offer--listitem a:hover img {
  transform: rotate(30deg);
}
.web__offer--listitem:last-child {
  margin-bottom: 0;
}
.web__offer--listitem:last-child img {
  position: absolute;
  width: 32px;
  height: 32px;
  right: 0;
  bottom: 0;
  transform: translateX(-500%) translateY(150%);
}
.web__offer--listitem:last-child:before,
.web__offer--listitem:last-child:after {
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  right: 0;
  background-size: cover;
}
.web__offer--listitem:last-child:before {
  width: 32px;
  height: 32px;
  background-image: url(../img/yellowBigStar.svg);
  transform: translateX(-375%) translateY(200%);
}
.web__offer--listitem:last-child:after {
  width: 40px;
  height: 40px;
  background-image: url(../img/whiteBigStar.svg);
  transform: translateX(-290%) translateY(25%);
}
.polygraphy {
  margin-top: 150px;
}
.polygraphy__title {
  font-size: 96px;
  font-weight: 300;
  color: #D69625;
  font-family: 'Cormorant', sans-serif;
}
.polygraphy__grid {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 150px;
  align-items: end;
  grid-auto-flow: row;
}
.polygraphy__item img {
  width: 100%;
}
.polygraphy__item p {
  font-size: 24px;
  font-weight: 200;
  color: #FFF1E2;
  margin-top: 50px;
}
.polygraphy__item:last-child {
  grid-row: 2;
  grid-column: 2/4;
  text-align: center;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.polygraphy__item:last-child a {
  font-size: 18px;
  font-weight: 200;
  color: #FFF1E2;
  position: relative;
  padding: 100px 75px;
}
.polygraphy__item:last-child a:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/broderElipseSmall.svg);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  transform: rotate(180deg);
}
.socialmedia {
  margin-top: 100px;
}
.socialmedia__inside {
  display: flex;
  justify-content: space-between;
}
.socialmedia__inside--text {
  flex: 63% 0 0;
  font-size: 24px;
  font-weight: 200;
  color: #FFF1E2;
  padding-left: 150px;
  position: relative;
}
.socialmedia__inside--text:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 45px;
  height: 45px;
  transform: translateX(150%);
  background: url(../img/whiteBigStar.svg) no-repeat;
  background-size: cover;
}
.socialmedia__offer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.socialmedia__offer--img img.hidden {
  display: none;
}
.socialmedia__title {
  font-size: 96px;
  font-weight: 300;
  color: #D69625;
  font-family: 'Cormorant', sans-serif;
  margin-bottom: 75px;
}
.socialmedia__offer--list {
  flex: 63% 0 0;
  padding-left: 150px;
}
.socialmedia__offer--listitem {
  font-size: 24px;
  color: #FFF1E2;
  font-weight: 200;
  margin-top: 70px;
}
.socialmedia__offer--listitem:first-child {
  margin-top: 0;
}
.socialmedia__offer--listitem:first-child span {
  color: #8E110F;
  font-family: 'Cormorant', sans-serif;
  font-weight: 300;
  font-size: 40px;
  margin-left: 30px;
}
.socialmedia__offer--listitem:first-child p {
  font-size: 18px;
  font-weight: 200;
}
.socialmedia__offer--listitemTab {
  cursor: pointer;
}
.posters {
  margin-top: 100px;
}
.posters__inside {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.posters__inside:before,
.posters__inside:after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  background-size: cover;
}
.posters__inside:before {
  width: 32px;
  height: 32px;
  background-image: url(../img/yellowBorderStar.svg);
  transform: translateX(-150%) translateY(-200%);
}
.posters__inside:after {
  width: 32px;
  height: 32px;
  background-image: url(../img/whiteBigStar.svg);
  transform: translateX(0) translateY(-125%);
}
.posters__title {
  font-size: 96px;
  font-weight: 300;
  color: #D69625;
  font-family: 'Cormorant', sans-serif;
}
.posters__inside--text {
  flex: 63% 0 0;
  font-size: 24px;
  font-weight: 200;
  color: #FFF1E2;
  padding-left: 150px;
  position: relative;
}
.posters__inside--text:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 45px;
  height: 45px;
  transform: translateX(150%);
  background: url(../img/yellowBorderStar.svg) no-repeat;
  background-size: cover;
}
.posters__inside--tiktok {
  margin-top: 30px;
}
.posters__inside--tiktok span {
  color: #8E110F;
  font-family: 'Cormorant', sans-serif;
  font-weight: 300;
  font-size: 40px;
  margin-left: 30px;
}
.posters__list {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}
.footer {
  margin-top: 120px;
  background-color: #0F0F0F;
  padding: 80px 165px;
  width: 88.4vw;
  margin-left: 10.6vw;
}
.footer__body {
  display: flex;
  justify-content: flex-end;
}
.footer__column:first-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer__offer {
  position: relative;
}
.footer__offer:before {
  position: absolute;
  display: block;
  content: "";
  top: 0;
  left: 0;
  width: 162px;
  height: 162px;
  background: url(../img/BigBrownStar.svg) center no-repeat;
  background-size: cover;
  transform: translateX(-40%) translateY(-25%);
}
.footer__offer h3 {
  position: relative;
  font-size: 36px;
  color: #FFF1E2;
  font-family: 'Cormorant', sans-serif;
  font-weight: 300;
  z-index: 1;
}
.footer__offer p {
  position: relative;
  font-size: 24px;
  color: #FFF1E2;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  z-index: 1;
}
.footer__list {
  margin-left: 270px;
}
.footer__list li {
  margin-top: 15px;
}
.footer__list li a {
  color: #FFF1E2;
  opacity: 0.5;
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
}
.footer__list li:first-child {
  margin-top: 0;
}
.footer__socials {
  margin-left: 200px;
}
.footer__socials--item {
  display: flex;
  align-items: flex-end;
  margin-bottom: 24px;
}
.footer__socials--item:last-child {
  margin-bottom: 0;
}
.footer__socials--icon {
  width: 35px;
  height: 35px;
  margin-right: 40px;
}
.footer__socials--icon img {
  width: 100%;
  height: 100%;
}
.footer__socials--label {
  color: #FFF1E2;
  opacity: 0.5;
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
}
@keyframes bounceOut {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(15%);
  }
  100% {
    transform: translateY(0%);
  }
}
@media (max-width: 1825px) {
  .container {
    max-width: 1092px;
  }
  .nav {
    padding: 35px;
  }
  .nav__hope {
    font-size: 18px;
  }
  .nav__logo img {
    width: 74px;
    margin: 0 auto;
  }
  .nav__menu li a {
    font-size: 18px;
  }
  .main {
    margin-left: 10.5vw;
  }
  .offer__img {
    flex: 0 0 350px;
  }
  .offer__img:after {
    top: -8%;
    right: 0;
    transform: translateX(55%);
    width: 642px;
    height: 642px;
  }
  .offer__content {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
  }
  .offer__content--student {
    font-size: 18px;
    padding-top: 40px;
  }
  .offer__content--student .student-star-yellow {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(120%);
    width: 48px;
    height: 48px;
  }
  .offer__content--student .student-star-white {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateX(120%);
    width: 24px;
    height: 24px;
  }
  .offer__content--name {
    font-size: 74px;
  }
  .offer__content--name .name-star-yellow {
    width: 34px;
    height: 34px;
  }
  .offer__content--name .name-star-white {
    width: 48px;
    height: 48px;
  }
  .offer__content--name .name-star-whiteBorder {
    width: 30px;
    height: 30px;
  }
  .offer__content--button img {
    width: 344px;
  }
  .offer__content--button span {
    font-size: 18px;
    top: 50px;
  }
  .about {
    margin-top: 50px;
  }
  .about__title {
    font-size: 74px;
  }
  .about__firstblock {
    margin-top: 90px;
  }
  .about__firstblock img {
    margin: 80px 0 210px 0;
    width: 325px;
  }
  .about__firstblock--text {
    font-size: 18px;
  }
  .about__firstblock--text:before {
    width: 34px;
    height: 34px;
    transform: translateX(-150%);
  }
  .about__secondblock--row:last-child {
    align-items: center;
  }
  .about__secondblock--row:last-child .about__secondblock--text {
    margin-left: 98px;
  }
  .about__secondblock--row:last-child .about__secondblock--text img {
    width: 30px;
    height: 30px;
  }
  .about__secondblock--row:last-child .about__secondblock--text:before {
    width: 24px;
    height: 24px;
  }
  .about__secondblock--row:last-child .about__secondblock--text:after {
    width: 24px;
    height: 24px;
  }
  .about__secondblock--column:nth-child(2) > img {
    width: 322px;
  }
  .about__secondblock--column:first-child > img {
    width: 270px;
  }
  .about__secondblock--column:first-child a img {
    width: 287px;
  }
  .about__button {
    margin-top: 48px;
  }
  .about__button span {
    width: 300px;
    font-size: 18px;
    top: 40px;
    left: 65px;
  }
  .about__secondblock--text {
    font-size: 18px;
  }
  .about__secondblock--text p:nth-child(even) {
    margin: 48px 0;
  }
  .about__secondblock--text:before {
    width: 34px;
    height: 34px;
  }
  .about__secondblock--sometext {
    font-size: 18px;
    margin-top: 28px;
    margin-bottom: 96px;
  }
  .about__secondblock--sometext img {
    width: 24px;
    height: 24px;
    transform: translateX(75%) translateY(-125%);
  }
  .about__secondblock--sometext:before,
  .about__secondblock--sometext:after {
    width: 30px;
    height: 30px;
  }
  .about__secondblock--sometext:before {
    transform: translateX(-25%) translateY(-25%);
  }
  .about__secondblock--sometext:after {
    transform: translateX(25%) translateY(-75%);
  }
  .skills__offer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
  }
  .skills__offer--subtext {
    font-size: 14px;
    margin-right: 150px;
    margin-top: 205px;
  }
  .skills__offer--subtext img {
    transform: translateX(100%) translateY(100%);
    width: 34px;
    height: 34px;
  }
  .skills__offer--subtext:after {
    width: 24px;
    height: 24px;
    transform: translateX(-75%) translateY(-125%);
  }
  .skills__offer--subtext:before {
    width: 30px;
    height: 30px;
    transform: translateX(-150%) translateY(-15%);
  }
  .skills__offer--title {
    font-size: 74px;
    font-family: 'Cormorant', sans-serif;
    font-weight: 300;
    letter-spacing: 5%;
    text-transform: uppercase;
    color: #D69625;
    position: relative;
  }
  .skills__offer--title img {
    width: 30px;
    height: 30px;
    transform: translateX(-200%) translateY(-200%);
  }
  .skills__offer--title:after {
    width: 48px;
    height: 48px;
    background-image: url(../img/whiteBigStar.svg);
    background-size: cover;
    transform: translateX(-100%) translateY(-250%);
  }
  .skills__offer--title:before {
    width: 34px;
    height: 34px;
    background-image: url(../img/yellowBigStar.svg);
    background-size: cover;
    transform: translateX(-300%) translateY(-300%);
  }
  .skills__offer--button {
    margin-left: 150px;
    transform: translateY(50%);
    margin-right: 150px;
    position: relative;
  }
  .skills__offer--button img {
    width: 61px;
    height: 121px;
  }
  .skills__offer--button:after {
    width: 48px;
    height: 48px;
    transform: translateX(100%) translateY(50%);
  }
  .skills__offer--button:before {
    width: 24px;
    height: 24px;
    transform: translateX(50%) translateY(200%);
  }
  .skills__content {
    margin-top: 100px;
  }
  .skills__item {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
  }
  .skills__item:last-child {
    margin-bottom: 0;
  }
  .skills__name {
    flex: 350px 0 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 24px;
    color: #FFF1E2;
  }
  .skills__progressBar {
    flex: auto 1 0;
    margin-left: 100px;
    margin-right: 100px;
  }
  .skills__progressBar--bar {
    width: 100%;
    height: 1px;
    background-color: #878078;
    position: relative;
  }
  .skills__progressBar--bar img {
    display: block;
    position: absolute;
    top: 0;
    width: 34px;
    height: 34px;
    transform: translateY(-50%);
  }
  .portfolio__offer {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
  }
  .portfolio__offer--subtext {
    font-size: 14px;
    color: #FFF1E2;
    font-weight: 200;
    margin-right: 200px;
    margin-top: 205px;
    position: relative;
  }
  .portfolio__offer--subtext img {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateX(100%) translateY(100%);
  }
  .portfolio__offer--subtext:after,
  .portfolio__offer--subtext:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }
  .portfolio__offer--subtext:after {
    width: 32px;
    height: 32px;
    background-image: url(../img/whiteSmallStar.svg);
    background-size: cover;
    transform: translateX(-75%) translateY(-125%);
  }
  .portfolio__offer--subtext:before {
    width: 40px;
    height: 40px;
    background-image: url(../img/whiteBorderlStar.svg);
    background-size: cover;
    transform: translateX(-150%) translateY(-15%);
  }
  .portfolio__offer--title {
    font-size: 74px;
    font-family: 'Cormorant', sans-serif;
    font-weight: 300;
    letter-spacing: 5%;
    text-transform: uppercase;
    color: #D69625;
    position: relative;
  }
  .portfolio__offer--title img {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-200%) translateY(-200%);
  }
  .portfolio__offer--title:after,
  .portfolio__offer--title:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }
  .portfolio__offer--title:after {
    width: 64px;
    height: 64px;
    background-image: url(../img/whiteBigStar.svg);
    background-size: cover;
    transform: translateX(-100%) translateY(-250%);
  }
  .portfolio__offer--title:before {
    width: 45px;
    height: 45px;
    background-image: url(../img/yellowBigStar.svg);
    background-size: cover;
    transform: translateX(-300%) translateY(-300%);
  }
  .portfolio__offer--button {
    margin-left: 200px;
    transform: translateY(50%);
    margin-right: 100px;
    position: relative;
  }
  .portfolio__offer--button img {
    width: 61px;
    height: 121px;
  }
  .portfolio__offer--button:after,
  .portfolio__offer--button:before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .portfolio__offer--button:after {
    width: 64px;
    height: 64px;
    background-image: url(../img/yellowBorderStar.svg);
    background-size: cover;
    transform: translateX(100%) translateY(50%);
  }
  .portfolio__offer--button:before {
    width: 32px;
    height: 32px;
    background-image: url(../img/whiteSmallStar.svg);
    background-size: cover;
    transform: translateX(50%) translateY(200%);
  }
  .footer {
    margin-top: 120px;
    background-color: #0F0F0F;
    padding: 60px 80px;
    width: 88.4vw;
    margin-left: 10.6vw;
  }
  .footer__body {
    display: flex;
    justify-content: flex-end;
  }
  .footer__column:first-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .footer__offer {
    position: relative;
  }
  .footer__offer:before {
    position: absolute;
    display: block;
    content: "";
    top: 0;
    left: 0;
    width: 125px;
    height: 125px;
    background: url(../img/BigBrownStar.svg) center no-repeat;
    background-size: cover;
    transform: translateX(-40%) translateY(-25%);
  }
  .footer__offer h3 {
    position: relative;
    font-size: 28px;
    color: #FFF1E2;
    font-family: 'Cormorant', sans-serif;
    font-weight: 300;
    z-index: 1;
  }
  .footer__offer p {
    position: relative;
    font-size: 18px;
    color: #FFF1E2;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    z-index: 1;
  }
  .footer__list {
    margin-left: 270px;
  }
  .footer__list li {
    margin-top: 15px;
  }
  .footer__list li a {
    color: #FFF1E2;
    opacity: 0.5;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    white-space: nowrap;
  }
  .footer__list li:first-child {
    margin-top: 0;
  }
  .footer__socials {
    margin-left: 200px;
  }
  .footer__socials--item {
    display: flex;
    align-items: flex-end;
    margin-bottom: 24px;
  }
  .footer__socials--item:last-child {
    margin-bottom: 0;
  }
  .footer__socials--icon {
    width: 24px;
    height: 24px;
    margin-right: 20px;
  }
  .footer__socials--icon img {
    width: 100%;
    height: 100%;
  }
  .footer__socials--label {
    color: #FFF1E2;
    opacity: 0.5;
    font-size: 18px;
  }
}
@media (max-width: 500px) {
  .thing {
    display: none;
  }
  .nav__burger {
    display: block;
    z-index: 6;
    top: 16px;
    left: 40px;
  }
  .nav {
    position: fixed;
    top: 0;
    left: -100%;
    overflow: auto;
    overscroll-behavior: contain;
    height: 100vh;
    padding: 50px;
    width: 75vw;
    z-index: 5;
    transition: 0.5s;
  }
  .nav.active {
    left: 0;
  }
  .nav__body {
    padding-left: 50px;
  }
  .nav__logo {
    display: none;
  }
  .nav__menu {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
  }
  .nav__menu li {
    margin-top: 25px;
    position: relative;
    display: inline-block;
  }
  .nav__menu li:first-child {
    margin-top: 0;
  }
  .nav__menu li a {
    display: inline-block;
    font-size: 32px;
    color: rgba(255, 255, 255, 0.5);
    transition: 0.3s;
  }
  .nav__menu li:hover a {
    color: #FFF1E2;
  }
  .nav__menu li:hover a:after,
  .nav__menu li:hover a:before {
    opacity: 0;
  }
  .nav__hope {
    font-size: 32px;
  }
  .container {
    max-width: 400px;
  }
  .main {
    margin-left: 0;
  }
  .offer {
    display: flex;
    flex-direction: column;
    padding: 70px 0;
  }
  .offer__img {
    padding: 0px 0;
    position: relative;
    align-self: center;
  }
  .offer__img img {
    position: relative;
    z-index: 1;
    width: 240px;
  }
  .offer__img:after {
    display: none;
  }
  .offer__content {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
  }
  .offer__content--student {
    position: absolute;
    top: 16px;
    right: 50px;
    font-size: 12px;
    padding-top: 0px;
  }
  .offer__content--student .student-star-yellow {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateX(120%) translateY(-50%);
    width: 16px;
    height: 16px;
  }
  .offer__content--student .student-star-white {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateX(80%);
    width: 12px;
    height: 12px;
  }
  .offer__content--name {
    align-self: flex-start;
    font-size: 40px;
    margin-top: 25px;
    margin-bottom: 0;
    margin-left: 30px;
  }
  .offer__content--name .name--rightside {
    text-align: right;
    transform: translateX(45%);
  }
  .offer__content--name .name-star-yellow {
    display: none;
  }
  .offer__content--name .name-star-white {
    display: none;
  }
  .offer__content--name .name-star-whiteBorder {
    display: none;
  }
  .offer__content--button {
    position: relative;
    margin-left: 0px;
  }
  .offer__content--button img {
    width: 234px;
  }
  .offer__content--button span {
    width: 200px;
    font-size: 12px;
    top: 35px;
    left: 35px;
  }
  .about {
    margin-top: 50px;
    margin-left: 30px;
  }
  .about__title {
    font-family: 'Cormorant', sans-serif;
    color: #D69625;
    font-size: 40px;
  }
  .about__content {
    display: flex;
    flex-direction: column;
  }
  .about__firstblock {
    flex: 0 0 41%;
    margin-top: 17px;
    display: flex;
    flex-direction: column;
  }
  .about__firstblock img {
    margin: 50px auto;
    align-self: center;
    width: 192px;
  }
  .about__firstblock--text {
    color: #FFF1E2;
    font-size: 14px;
    font-weight: 200;
    width: 83%;
    position: relative;
  }
  .about__firstblock--text p:nth-child(even) {
    margin: 16px 0;
  }
  .about__firstblock--text:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    transform: translateX(-150%);
  }
  .about__firstblock--text:first-child:before {
    background: url(../img/whiteBorderlStar.svg) no-repeat;
    background-size: cover;
  }
  .about__firstblock--text:last-child:before {
    background: url(../img/yellowBorderStar.svg) no-repeat;
    background-size: cover;
  }
  .about__secondblock {
    margin-top: 46px;
  }
  .about__secondblock--row {
    display: flex;
    justify-content: flex-start;
  }
  .about__secondblock--row:nth-child(even) {
    margin: 80px 0 50px 0;
  }
  .about__secondblock--row:first-child .about__secondblock--column:first-child {
    margin-right: 16px;
  }
  .about__secondblock--row:first-child .about__secondblock--column:first-child img {
    width: 192px;
  }
  .about__secondblock--row:first-child .about__secondblock--column:last-child {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
  }
  .about__secondblock--row:first-child .about__secondblock--column:last-child img {
    width: 128px;
  }
  .about__secondblock--row:last-child {
    flex-direction: column;
    align-items: center;
  }
  .about__secondblock--row:last-child .about__secondblock--column:first-child img {
    width: 192px;
    margin-bottom: 50px;
  }
  .about__secondblock--row:last-child .about__secondblock--text {
    margin-left: 0px;
    position: relative;
  }
  .about__secondblock--row:last-child .about__secondblock--text img {
    display: none;
  }
  .about__secondblock--row:last-child .about__secondblock--text:before {
    width: 24px;
    height: 24px;
  }
  .about__secondblock--row:last-child .about__secondblock--text:after {
    display: none;
  }
  .about__button {
    display: block;
    position: relative;
    margin-top: 0px;
  }
  .about__button img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
  }
  .about__button span {
    width: 350px;
    font-size: 12px;
    top: 28px;
    left: 100px;
  }
  .about__secondblock--text {
    position: relative;
    color: #FFF1E2;
    font-size: 14px;
    font-weight: 200;
    width: 100%;
  }
  .about__secondblock--text p:nth-child(even) {
    margin: 16px 0;
  }
  .about__secondblock--text:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    transform: translateX(-150%);
  }
  .about__secondblock--text:first-child:before {
    background: url(../img/whiteBigStar.svg) no-repeat;
    background-size: cover;
  }
  .about__secondblock--sometext {
    display: none;
  }
  .footer {
    margin-top: 120px;
    background-color: #0F0F0F;
    padding: 24px 30px;
    width: 100vw;
    margin-left: 0;
  }
  .footer__body {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .footer__column:first-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .footer__offer {
    margin-top: 40px;
    margin-right: 70px;
    position: relative;
  }
  .footer__offer:before {
    width: 64px;
    height: 64px;
    transform: translateX(-50%) translateY(-20%);
  }
  .footer__offer h3 {
    font-size: 16px;
  }
  .footer__offer p {
    font-size: 12px;
  }
  .footer__list {
    display: none;
  }
  .footer__socials {
    margin-left: 0;
  }
  .footer__socials--item {
    display: flex;
    align-items: flex-end;
    margin-bottom: 24px;
  }
  .footer__socials--item:last-child {
    margin-bottom: 0;
  }
  .footer__socials--icon {
    width: 20px;
    height: 20px;
    margin-right: 20px;
  }
  .footer__socials--icon img {
    width: 100%;
    height: 100%;
  }
  .footer__socials--label {
    color: #FFF1E2;
    opacity: 0.5;
    font-size: 12px;
  }
}
@media (max-width: 400px) {
  .nav__burger {
    display: block;
    z-index: 6;
    top: 16px;
    left: 40px;
  }
  .nav {
    position: fixed;
    top: 0;
    left: -100%;
    overflow: auto;
    overscroll-behavior: contain;
    height: 100vh;
    padding: 50px;
    width: 75vw;
    z-index: 5;
    transition: 0.5s;
  }
  .nav.active {
    left: 0;
  }
  .nav__body {
    padding-left: 20px;
  }
  .nav__logo {
    display: none;
  }
  .nav__menu {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
  }
  .nav__menu li {
    margin-top: 25px;
    position: relative;
    display: inline-block;
  }
  .nav__menu li:first-child {
    margin-top: 0;
  }
  .nav__menu li a {
    display: inline-block;
    font-size: 32px;
    color: rgba(255, 255, 255, 0.5);
    transition: 0.3s;
  }
  .nav__menu li:hover a {
    color: #FFF1E2;
  }
  .nav__menu li:hover a:after,
  .nav__menu li:hover a:before {
    opacity: 0;
  }
  .nav__hope {
    font-size: 32px;
  }
  .container {
    max-width: 286px;
  }
  .main {
    margin-left: 0;
  }
  .offer {
    display: flex;
    flex-direction: column;
    padding: 70px 0;
  }
  .offer__img {
    padding: 0px 0;
    position: relative;
    align-self: center;
  }
  .offer__img img {
    position: relative;
    z-index: 1;
    width: 240px;
  }
  .offer__img:after {
    display: none;
  }
  .offer__content {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
  }
  .offer__content--student {
    position: absolute;
    top: 16px;
    right: 50px;
    font-size: 12px;
    padding-top: 0px;
  }
  .offer__content--student .student-star-yellow {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateX(120%) translateY(-50%);
    width: 16px;
    height: 16px;
  }
  .offer__content--student .student-star-white {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateX(80%);
    width: 12px;
    height: 12px;
  }
  .offer__content--name {
    align-self: flex-start;
    font-size: 40px;
    margin-top: 25px;
    margin-bottom: 0;
    margin-left: 30px;
  }
  .offer__content--name .name--rightside {
    text-align: right;
    transform: translateX(0);
  }
  .offer__content--name .name-star-yellow {
    display: none;
  }
  .offer__content--name .name-star-white {
    display: none;
  }
  .offer__content--name .name-star-whiteBorder {
    display: none;
  }
  .offer__content--button {
    width: 100%;
    position: relative;
    margin-left: 10%;
  }
  .offer__content--button img {
    width: 234px;
  }
  .offer__content--button span {
    width: 200px;
    font-size: 12px;
    top: 35px;
    left: 35px;
  }
  .about {
    margin-top: 50px;
    margin-left: 50px;
  }
  .about__title {
    text-align: center;
  }
  .about__content {
    display: flex;
    flex-direction: column;
  }
  .about__firstblock {
    flex: 0 0 41%;
    margin-top: 17px;
    display: flex;
    flex-direction: column;
  }
  .about__firstblock img {
    margin: 50px 0;
    align-self: flex-start;
    width: 192px;
  }
  .about__firstblock--text {
    color: #FFF1E2;
    font-size: 14px;
    font-weight: 200;
    width: 100%;
    position: relative;
  }
  .about__firstblock--text p:nth-child(even) {
    margin: 16px 0;
  }
  .about__firstblock--text:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    transform: translateX(-150%);
  }
  .about__firstblock--text:first-child:before {
    background: url(../img/whiteBorderlStar.svg) no-repeat;
    background-size: cover;
  }
  .about__firstblock--text:last-child:before {
    background: url(../img/yellowBorderStar.svg) no-repeat;
    background-size: cover;
  }
  .about__secondblock {
    margin-top: 46px;
  }
  .about__secondblock--row {
    display: flex;
    justify-content: flex-start;
  }
  .about__secondblock--row:nth-child(even) {
    margin: 80px 0 50px 0;
  }
  .about__secondblock--row:first-child .about__secondblock--column:first-child {
    margin-right: 16px;
  }
  .about__secondblock--row:first-child .about__secondblock--column:first-child img {
    width: 192px;
    margin-left: -50px;
  }
  .about__secondblock--row:first-child .about__secondblock--column:last-child {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
  }
  .about__secondblock--row:first-child .about__secondblock--column:last-child img {
    width: 128px;
  }
  .about__secondblock--row:last-child {
    flex-direction: column;
    align-items: flex-start;
  }
  .about__secondblock--row:last-child .about__secondblock--column:first-child img {
    width: 192px;
    margin-bottom: 50px;
  }
  .about__secondblock--row:last-child .about__secondblock--text {
    margin-left: 0px;
    position: relative;
  }
  .about__secondblock--row:last-child .about__secondblock--text img {
    display: none;
  }
  .about__secondblock--row:last-child .about__secondblock--text:before {
    width: 24px;
    height: 24px;
  }
  .about__secondblock--row:last-child .about__secondblock--text:after {
    display: none;
  }
  .about__button {
    display: block;
    position: relative;
    margin-top: 0px;
  }
  .about__button img {
    display: none;
  }
  .about__button span {
    width: 350px;
    font-size: 12px;
    top: 28px;
    left: 0px;
  }
  .about__secondblock--text {
    font-size: 14px;
    width: 100%;
  }
  .about__secondblock--text p:nth-child(even) {
    margin: 16px 0;
  }
  .about__secondblock--text:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    transform: translateX(-150%);
  }
  .about__secondblock--text:first-child:before {
    background: url(../img/whiteBigStar.svg) no-repeat;
    background-size: cover;
  }
  .about__secondblock--sometext {
    display: none;
  }
  .footer {
    margin-top: 120px;
    background-color: #0F0F0F;
    width: 100vw;
    margin-left: 0;
  }
  .footer__body {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .footer__column:first-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .footer__offer {
    margin-top: 40px;
    margin-right: 70px;
    position: relative;
  }
  .footer__offer:before {
    width: 64px;
    height: 64px;
    transform: translateX(-50%) translateY(-20%);
  }
  .footer__offer h3 {
    font-size: 16px;
  }
  .footer__offer p {
    font-size: 12px;
  }
  .footer__list {
    display: none;
  }
  .footer__socials {
    margin-left: 0;
  }
  .footer__socials--item {
    display: flex;
    align-items: flex-end;
    margin-bottom: 24px;
  }
  .footer__socials--item:last-child {
    margin-bottom: 0;
  }
  .footer__socials--icon {
    width: 20px;
    height: 20px;
    margin-right: 20px;
  }
  .footer__socials--icon img {
    width: 100%;
    height: 100%;
  }
  .footer__socials--label {
    color: #FFF1E2;
    opacity: 0.5;
    font-size: 12px;
  }
}
